:root{
    --background-color:hsl(225,100%,94%);
    --button-color:hsl(245,75%,52%);
    --vpale-color:hsl(225,100%,98%);
    --parragraph-color:hsl(224,23%,55%);
    --title-color:hsl(223,47%,23%);
}